yacs
tqdm
numpy
scipy
h5py
matplotlib
requests
blosc
intervaltree
whatshap
pysam
parasail
ont-fast5-api
mappy
onnx
onnxruntime-gpu
onnx-simplifier==0.4.8
fvcore
fast_ctc_decode
whatshap
levenshtein
tables
torchmetrics
einops
transformers
pyranges
pyfaidx
tensorboard
fairscale
torchvision
sklearn